<app-navbar [title]="navbarTitle"></app-navbar>

<div class="container q-container">
  <app-button (clickButton)="form.editModeOn()" customClasses="btn-floating teal add-button">
    <i class="material-icons">add</i>
  </app-button>
  <app-form #form (newQuotation)="onNewQuotation($event)"></app-form>
  <div class="row">
    <!-- Lista cytatów -->
    <div class="col s8">
      <app-list [quotes]="quotes" (vote) ="addVote($event.quotation, $event.vote)"></app-list>
    </div>
    <!-- Koniec lista cytatów -->

    <div class="col s4">
      <app-ranking [quotes]="bestQuotes()" title="Najlepsze"></app-ranking>
      <app-ranking [quotes]="worstQuotes()" title="Najgorsze"></app-ranking>
    </div>
  </div>
</div>