<div class="row">
    <div class="col s12">
        <div class="card teal hoverable" *ngFor="let quotation of quotes; let odd = odd"
            [ngClass]="odd ? 'accent-5' : 'accent-4'">
            <div class="card-content white-text">
                <span class="card-title">
                    {{quotation.sentence}}
                </span>
                {{quotation.author}}
            </div>
            <div class="card-action right-align">
                <span class="badge grey darken-2 left white-text">{{quotation.votes}}</span>
                <app-vote-button (voteValue)="addVote(quotation, $event)"></app-vote-button>
            </div>
        </div>
    </div>
</div>